html{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin: 0;
}

body{
    display: block;

    width: 300px;

    height: 450px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.sizer{
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    display: block;
    height: auto;
    padding: 5px;
    position: absolute;
    bottom: 0;
}
@keyframes AIanim {
    0% {
        scale: .1;
    }
    100%{scale: 1;}
  }
#chatboxAI{
    animation-name: AIanim;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 250px;
    height: auto;
    text-align: left;
    border: 2px solid rgba(0, 0, 0, 0.604);
    border-radius: 10px;
    padding: 5px;
    animation-duration: 500ms;
    background-color: rgba(128, 128, 128, 0.125);
    
}
@keyframes humananim {
    0% {
        scale: .1;
    }
    100%{scale: 1;}
  }
#chatboxHuman{
    animation-name: humananim;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 250px;
    height: auto;
    text-align: right;
    border: 2px solid rgba(0, 0, 0, 0.592);
    border-radius: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: 5px;
    animation-duration: 500ms;
    background-color: rgba(78, 71, 215, 0.125);
}
h3{
    margin-bottom: 10px;
}
.right{
    display: inline-block;
    width: 60%;
    margin-right: 8%;
}
.smile{
    margin-top: 20px;
    margin-bottom: 20px;
}
.left{
    width: 30%;
    display: inline-block;
}
.bubbleimg{
    display: block;
    margin-right: auto;
    margin-left: 15px;
    width: 70px;
    height: 70px;
}
#ChatArea{
    width: 300px;
    height: auto;
    max-height: 230px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow-y: scroll; /* enable scrolling */
  /* hide scrollbar */
  -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    padding: 5px;
    
}
#ChatArea::-webkit-scrollbar {
    display: none;
  }
.top{
    width: auto;
    height: 100px;
    border-bottom: 2px solid rgb(11, 11, 122);
}
h1{
    text-align: center;
    width: 500px;
    height: 100px;
    margin-top: 200px;

    margin-left: auto;
    margin-right: auto;
}
input{
    text-align: left;
    width: 200px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
button{
    text-align: center;
    width: 40px;
    height: 40px;
    color: black;
    background: rgb(78,61,255);
    background: linear-gradient(117deg, rgba(94, 81, 238, 0.904) 26%, rgba(0,212,255,0.8870141806722689) 100%);
    border-radius: 10px;
}
@media only screen and (max-width: 600px) {
    .sizer{
        background-color: grey;
        scale: .9;
    }
  }